@using MediatR
@using Microsoft.EntityFrameworkCore
@using SoloRpg.Application.Features.Admin.Dtos
@using SoloRpg.Application.Features.Admin.Queries
@using TestStreamRender.Models

@page "/renderko"
@attribute [StreamRendering]
@inject TestDbContext dbContext

<h1>Render KO</h1>

@if (testModels == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var item in testModels)
        {
            <li>@item.Test</li>
        }
    </ul>
}

@code {
    IEnumerable<TestModelKo>? testModels;

    protected override async Task OnInitializedAsync()
    {
        testModels = await dbContext.KoModels.ToListAsync();
    }
} 